<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
</head>
<body>
    <header>
        <h1>О нас</h1>
    </header>
    <section>
        <h2>Наша История</h2>
        <p>Добро пожаловать на наш веб-сайт! Мы начали с мечты о революции в отрасли, и благодаря упорному труду и преданности, мы превратили эту мечту в реальность.</p>
    </section>
    <section>
        <h2>Наша Команда</h2>
        <div class="team-member">
            <img src="../static/1.jpg" alt="Участник Команды 1">
            <p>Сооснователь и Генеральный Директор</p>
        </div>
        <div class="team-member">
            <img src="team_member2.jpg" alt="Участник Команды 2">
            <h3>Нурлан уулу Бексултан</h3>
            <p>Креативный Директор</p>
        </div>
    </section>
    <section>
        <h2>Наша Миссия</h2>
        <p>Мы на миссии переопределения превосходства в нашей области. Через инновации, творчество и стремление к качеству, мы повышаем планку и превосходим ожидания.</p>
    </section>
    <footer>
        <p>&copy; 2023 ВашаКомпания. Все права защищены.</p>
    </footer>
</body>
</html>

