<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap w/ Parcel</title>
    <link rel="stylesheet" href="scss/styles.scss">
    <script type="module" src="index"></script>
  </head>
  <body>
    <div class="container py-4 px-3 mx-auto">
      <h1>Привет, я из Geeks!</h1>
      <button class="btn btn-primary">Primary button</button>


        <a href="{% url 'about' %}">О нас</a><br>
        <a href="{% url 'cousers' %}">Курсы</a><br>
        <a href="{% url 'benefist' %}">ПРеимущество</a><br>
    </div>
  </body>
</html>